#search {
    float: right;
}

#slider {
    margin-top: 90px;
}

.breadcrumb {
    margin-top: 20px;
}

#main_content {
    margin-top: 50px;
}

#sidebar {
    margin-top: 46px;
}

.custom-media-heading {
    margin-top: 13px;
}