{% include 'base/header.html' %}
<div class="container">
    <div class="row">

        <div class="col-md-9">
            <div class="page-header">
                <h1>Rejestracja</h1>
            </div>

            <div id="login_form">

                <form action="/account/register/#login_form" method="POST" name="register_form">
                    {% csrf_token %}

                    {% for field in register_form %}
                        {% if field.errors %}
                            <div class="alert alert-danger" role="alert">
                                <strong>{{ field.label }}:</strong> {{ field.errors }}</div>
                        {% endif %}
                    {% endfor %}


                    {% for field in register_form %}


                        <div class="form-group">
                            <label for="username">{{ field.label }}</label>
                            <input type="{{ field.field.widget.input_type }}" class="form-control" id="username"
                                   placeholder="{{ field.label }}"
                                   name="{{ field.name }}">
                        </div>

                    {% endfor %}

                    <button type="submit" class="btn btn-default" name="register">Zarejestruj</button>
                </form>

            </div>

        </div>
        <div id="sidebar">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Najnowsze artykuły</div>
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">admin</h4>
                                hehe, lorem ipsum dolor
                            </div>
                        </div>

                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">userTest</h4>
                                lorem, lorem ipsum
                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">Najnowsze komentarze</div>
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">admin</h4>
                                hehe, lorem ipsum dolor
                            </div>
                        </div>

                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">userTest</h4>
                                lorem, lorem ipsum
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'base/footer.html' %}
