<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
        {% load staticfiles %}

		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Spoleczni</title>
		<meta name="description" content="A sidebar menu as seen on the Google Nexus 7 website" />
		<meta name="keywords" content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="{% static 'home/css/normalize.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'home/css/demo.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'home/css/component.css' %}" />
		<script src="{% static 'home/css/js/modernizr.custom.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/metro_gallery.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/demo2.css' %}" />
        <script type="text/javascript" src="{% static 'home/javascript/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'home/javascript/masonry.pkgd.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'home/javascript/metro_gallery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'home/javascript/hammer.js' %}"></script>
        <script type="text/javascript">
            Metro_Gallery.setOptions({
                base_size: 100,
                gutter: 10,
                scale: 1.4,
                delay: 1000
            });
        </script>

	</head>
	<body>
		<div class="container">
			<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li class="gn-search-item">
									<input placeholder="Search" type="search" class="gn-search">
									<a class="gn-icon gn-icon-search"><span>Search</span></a>
								</li>
								<li>
									<a class="gn-icon gn-icon-download">Downloads</a>
									<ul class="gn-submenu">
										<li><a class="gn-icon gn-icon-illustrator">Vector Illustrations</a></li>
										<li><a class="gn-icon gn-icon-photoshop">Photoshop files</a></li>
									</ul>
								</li>
								<li><a class="gn-icon gn-icon-cog">Settings</a></li>
								<li><a class="gn-icon gn-icon-help">Help</a></li>
								<li>
									<a class="gn-icon gn-icon-archive">Archives</a>
									<ul class="gn-submenu">
										<li><a class="gn-icon gn-icon-article">Articles</a></li>
										<li><a class="gn-icon gn-icon-pictures">Images</a></li>
										<li><a class="gn-icon gn-icon-videos">Videos</a></li>
									</ul>
								</li>
							</ul>
						</div><!-- /gn-scroller -->
					</nav>
				</li>
				<li><a class="codrops-icon codrops-icon-drop" href="http://umcs.pl"><span>Przejdź na stronę UMCS</span></a></li>
			</ul>
			<header>
				<h1>Spoleczni.pl <span>Informatyka w przystępnym wydaniu</span></h1>
			</header>
		</div><!-- /container -->
        <center>
            <div class="metro_gallery flip horizontal lightbox">
                <div class="tile tile_1x1 blue">
                    <img src="{% static 'home/demo_images/rooney.jpg' %}" data-caption="Rooney" />
                    <img src="{% static 'home/demo_images/tshirt.jpg' %}" data-caption="ManUtd" />
                </div>
                <div class="tile tile_1x1 darkred">
                    <img src="{% static 'home/demo_images/king.jpg' %}" data-caption="ManUtd" />
                </div>
                <div class="tile tile_1x2 orange">
                    <img src="{% static 'home/demo_images/giggs.jpg' %}" data-caption="Giggs" />
                    <img src="{% static 'home/demo_images/beckham.jpg' %}" data-caption="Beckham" />
                </div>
                <div class="tile tile_2x1 red">
                    <img src="{% static 'home/demo_images/ferguson.jpg' %}" data-caption="Ferguson" />
                    <img src="{% static 'home/demo_images/rio.jpg' %}" data-caption="ferdinand" />
                </div>
                <div class="tile tile_2x2 purple">
                    <img src="{% static 'home/demo_images/king.jpg' %}" data-caption="ManUtd" />
                    <img src="{% static 'home/demo_images/tshirt.jpg' %}" data-caption="ManUtd" />
                </div>
                <div class="tile tile_1x1 darkred">
                    <img src="{% static 'home/demo_images/rooney.jpg' %}" data-caption="Rooney" />
                </div>
                <div class="tile tile_1x1 grey">
                    <img src="{% static 'home/demo_images/tshirt.jpg' %}" data-caption="ManUtd" />
                    <img src="{% static 'home/demo_images/ronaldo.jpg' %}" data-caption="Ronaldo" />
                </div>
                <div class="tile tile_2x1 orange">
                    <img src="{% static 'home/demo_images/paper.jpg' %}" data-caption="ManUtd" />
                    <img src="{% static 'home/demo_images/ferguson.jpg' %}" data-caption="Ferguson" />
                </div>
                <div class="tile tile_3x3 green">
                    <img src="{% static 'home/demo_images/king.jpg' %}" data-caption="ManUtd" />
                    <img src="{% static 'home/demo_images/rooney.jpg' %}" data-caption="Rooney" />
                    <img src="{% static 'home/demo_images/tshirt.jpg' %}" data-caption="ManUtd" />
                </div>
                <div class="tile tile_2x1 purple">
                    <img src="{% static 'home/demo_images/rio.jpg' %}" data-caption="ferdinand" />
                    <img src="{% static 'home/demo_images/paper.jpg' %}" data-caption="ManUtd" />
                </div>
                <div class="tile tile_2x3 yellow">
                    <img src="{% static 'home/demo_images/group.jpg' %}" data-caption="Group" />
                    <img src="{% static 'home/demo_images/manutd_logo.jpg' %}" data-caption="ManUtd" />
                </div>
                <div class="tile tile_4x2 darkblue">
                    <img src="{% static 'home/demo_images/ferguson.jpg' %}" data-caption="Ferguson" />
                    <img src="{% static 'home/demo_images/paper.jpg' %}" data-caption="ManUtd" />
                    <img src="{% static 'home/demo_images/rio.jpg' %}" data-caption="ferdinand" />
                </div>
                <div class="tile tile_3x1 darkgreen">
                    <img src="{% static 'home/demo_images/champ.jpg' %}" data-caption="EPL Champion" />
                    <img src="{% static 'home/demo_images/cloth.jpg' %}" data-caption="ManUtd" />
                </div>
                <div class="tile tile_3x1 darkgreen">
                    <img src="{% static 'home/demo_images/wallpaper.jpg' %}" data-caption="ManUtd" />
                    <img src="{% static 'home/demo_images/champ.jpg' %}" data-caption="EPL Champion" />
                </div>
            </div>
        </center>
        </br></br></br>
		<script src="{% static 'home/js/classie.js' %}"></script>
		<script src="{% static 'home/js/gnmenu.js' %}"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
	</body>
</html>
