{% load staticfiles %}
</div>
<!-- koniec glownego kontenera

<!-- skrypty -->
<script type="text/javascript">
  $('.carousel').carousel();
</script>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{% static 'datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static "home/js/jquery.raty.js" %}"></script>
<script src="{% static "home/js/pace.min.js" %}"></script>
<script>
    $('.datepicker').datepicker()
</script>
</body>
</html>